<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>User Detail</h1>
    <p>ID: <span th:text="${user.id}"></span></p>
    <p>First Name: <span th:text="${user.firstName}"></span></p>
    <p>Last Name: <span th:text="${user.lastName}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <a th:href="@{/users}">Back to User List</a>
</div>
</body>
</html>
